.card--img{
    height: 175px;
    object-fit: cover;
}

.card--profileimg{
    height: 226px;
    object-fit: cover;
    @include media-breakpoint-up(sm) { 
        height: 175px;
    }
}

.card--height{
    max-height: 78px !important;
    object-fit: cover;
}

// .card--profileheight{
//     max-height: 226px !important;
//     object-fit: cover;
//     @include media-breakpoint-up(sm) { 
//         max-height: 78px !important;
//     }
// }

.card--largeimg{
    height: 158px;
    object-fit: cover;
    @include media-breakpoint-up(md) { 
        height: 263px;
    }
}

.card--font{
    font-size: 16px;
    @include media-breakpoint-up(lg) { 
        font-size: 24px;
    }
}

.card--width{
    width: 50%;
    @include media-breakpoint-up(sm) { 
        width: 37%;
    }
}

.card--profilewidth{
    width: 100%;
    @include media-breakpoint-up(sm) { 
        width: 37%;
    }
}

.card--textwidth{
    width: 100%;
    @include media-breakpoint-up(md) { 
        width: 55%;
    }
    @include media-breakpoint-up(lg) { 
        width: 45%;
    }
}

.card--footerwidth{
    width: 150px;
}

