.banner{
    &--text{
        z-index: 100;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &--mask{
        opacity: 0.7;
        z-index: 50;
    }
}

.my--search{
    position: relative;
    margin-top: -52px;
    z-index: 100;
}

.datepicker__icon{
    left: 16px;
    top: 30%;
}

.bg--img{
    background-image: url('../images/login.jpg');
    background-position: center center;
    background-size: cover;
    max-width: 815px;
    height: 100vh;
}

.bg--padimg{
    background-image: url('../images/login.jpg');
    background-position: center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.profile--width{
    width: 64px;
    height: 64px;
    object-fit: cover;
}

.profile--widthsm{
    width: 24px;
    height: 24px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid $primary;
}

