.table--img{
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 0!important;
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
    width: 150px;
    height: 150px;
    object-fit: cover;
    @include media-breakpoint-up(sm) { 
        border-top-left-radius: 8px !important;
        border-bottom-left-radius: 8px !important;
    }
    @include media-breakpoint-up(lg) { 
        width: 255px;
        height: 175px;
    }
}

.table--height{
    max-height: 96px;
}

.table td{
    vertical-align: middle;
}